@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #000000;
}

/* TODO: add dark mode later
@media (prefers-color-scheme: dark) {
  :root {
    --background: #000000;
    --foreground: #ffffff;
  }
}
  */

body {
  background: #f8c9df;
  background: linear-gradient(
    0deg,
    rgba(248, 201, 223, 1) 0%,
    rgba(255, 255, 255, 1) 20%,
    rgba(255, 255, 255, 1) 80%,
    rgba(216, 235, 187, 1) 100%
  );
  color: var(--foreground);
  font-family: "Nunito", "Nunito Sans", Arial, Helvetica, sans-serif;
}
